@font-face {
    font-family: HarryPotter; 
    src: url('./10467.ttf'); 
   }
li{ display: inline;
    list-style-type: none;
    margin: 20px;
 font-size:  70px;
 text-shadow: cornsilk 2px 1px;
}
a
{
    text-decoration: none;
    color:  black;

}
body{
    font-family: HarryPotter;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}
.headerHeading{
    font-weight: 800;
    font-size: 100px;
    background: linear-gradient(165deg,#fc0404 55%,#fceb02 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   position: sticky;
   top:0px;
    align-items: center;
    z-index: 2;
   
}
@media (){
    header{
    background-color: cyan;
    transition: all 2s;
    }
   
}